html {
  margin-left: 10px;
  font: Helvetica;
  font-family: Helvetica;
}

.header {
  position: fixed;
  top: 0;
  z-index: 500;
  height: 45px;
  font-weight: bold;
  background: white;
}

.space {
  height: 50px;
  margin: 2000px;
}

.container {
  padding-top: 50px;
  border-top: 500px;
}
